<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    
    <title>POP2023</title>
  </head>
  <body>
<!--Header menu-->
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills position-absolute top-1 start-45">
            <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/cart" class="nav-link">Cart</a></li>
            <li class="nav-item"><a href="/map" class="nav-link">Map</a></li> 
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          </ul>
          
        </header>
      </div>
<!--Baner-->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
  <div class="col-md-5  p-lg-3 mx-auto my-3">
    <h1 class="display-3 fw-bold">Nazwa Restauracji</h1>
    <h3 class="fw-normal text-muted mb-3">Motto restauracji</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DanieDnia">
      Danie Dnia
    </button>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!--Wybierajka-->
<div class="album py-5 bg-body-tertiary">
<div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ url_for('static',filename='BBQ Burger.jpg') }}"class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
                <div class="card-body">
                  <p class="card-text">The BBQ burger is a mouthwatering delight featuring a juicy beef patty grilled to perfection, topped with smoky barbecue sauce, melted cheese, crispy bacon, and caramelized onions. It's a tantalizing combination of flavors that will satisfy your cravings for a savory and indulgent burger experience. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
        <div class="col">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static',filename='Cheese Burger.jpg') }}"class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
                  <div class="card-body">
                    <p class="card-text">
                        A cheeseburger is a classic American delicacy consisting of a juicy beef patty topped with melted cheese, sandwiched between soft buns, offering a perfect blend of savory flavors and indulgent satisfaction. It is a mouthwatering culinary creation that has become an enduring symbol of comfort food worldwide. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static',filename='Beef Burger.jpg') }}" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
                  <div class="card-body">
                    <p class="card-text">
                        A beef burger is a flavorful culinary masterpiece crafted from a succulent beef patty, perfectly seasoned and cooked to perfection, creating a delectable combination of rich, savory taste and satisfying texture. With each juicy bite, the beef burger delivers a hearty and satisfying experience that has made it a beloved choice for burger enthusiasts everywhere.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>

  <div class="col">
      <div class="col">
          <div class="card shadow-sm">
            <img src="Burger/Zestaw BBQ Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                  Indulge in the mouthwatering delight of a BBQ burger, featuring a flame-grilled beef patty generously slathered with tangy barbecue sauce, topped with melted cheese and crispy bacon, all nestled between soft buns. Accompanied by a side of golden fries and a refreshing Coca-Cola, this combination of smoky, savory flavors and classic comfort pairings promises a truly satisfying and quintessentially American dining experience.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BBQ_Zestaw">
                    Danie Dnia
                  </button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="col">
          <div class="card shadow-sm">
            <img src="Burger/Hawaiian Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
            <div class="card-body">
              <p class="card-text"> 
                  Transport your taste buds to a tropical paradise with a Hawaiian burger. This delicious creation combines a juicy beef or chicken patty with a slice of sweet grilled pineapple, crispy bacon, and a tangy teriyaki glaze, creating a harmonious blend of savory and sweet flavors that will leave you longing for more. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Hawaiian">
                    Danie Dnia
                  </button>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="col">
          <div class="card shadow-sm">
            <img src="Burger/Chiken Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                  A chicken burger is a flavorful alternative to its beef counterpart, featuring a tender and juicy chicken patty seasoned to perfection. Served between soft buns with an array of toppings, it offers a lighter yet satisfying option that caters to both poultry lovers and those seeking a delicious twist on the classic burger experience.&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="col">
       <div class="col">
        <div class="card shadow-sm">
          <img src="Burger/Cheese Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
          <div class="card-body">
            <p class="card-text">
              A cheeseburger is a timeless classic that combines a succulent beef patty with melty cheese, resulting in a harmonious blend of savory flavors. Nestled between two soft buns and topped with various condiments, it's a mouthwatering delight that satisfies cravings and embodies the epitome of comfort food.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col">
      <div class="col">
          <div class="card shadow-sm">
            <img src="Burger/Beef Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                  A beef burger is a juicy and flavorful delight, made from a perfectly seasoned beef patty cooked to perfection. Sandwiched between soft buns and customizable with an array of toppings, it offers a satisfying and hearty dining experience that celebrates the rich taste of high-quality beef.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col">
      <div class="col">
          <div class="card shadow-sm">
            <img src="Burger/Beef Bacon Burger.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" alt="Image Description">
            <div class="card-body">
              <p class="card-text">
                  The beef bacon burger is an irresistible fusion of savory flavors, combining a juicy beef patty with crispy bacon made from flavorful beef. With each bite, you'll savor the perfect balance of meaty goodness and smoky undertones, creating a mouthwatering burger experience that is sure to delight any bacon lover.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</div>



<!--All Models-->
<!--Model_Do_Danie_Dnia-->
<div class="modal fade" id="DanieDnia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_BBQ_Burger-->
<div class="modal fade" id="BBQ_Burger" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_Beef_Burger-->
<div class="modal fade" id="Beef" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_BBQ_Zestaw-->
<div class="modal fade" id="BBQ_Zestaw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_Hawaiian-->
<div class="modal fade" id="Hawaiian" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_Chicken-->
<div class="modal fade" id="Chiken" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_Beef_Zestaw-->
<div class="modal fade" id="Beef_Zestaw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>
<!--Model_Do_Beef_Bacon_Burger-->
<div class="modal fade" id="Beef_Bacon_Burger" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">cheeseburger</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <img src="Burger/Cheese">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Order</button>
</div>
</div>
</div>
</div>













<!--Footer-->
<div class="">
  <footer class="text-lg-start text-grey" style="background-color: #ffffff">
      <div class="container p-4 pb-0">
          <section class="">
              <div class="row">
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">
                          Company
                      </h6>
                      <p>
                          
Experience the culinary delights at our restaurant, where every dish is a symphony of flavors meticulously crafted by our expert chefs. Indulge in an unforgettable dining experience, where warm hospitality and exquisite cuisine come together to create moments that linger on your taste buds and in your heart.
                  </div>
                  <hr class="w-100 clearfix d-md-none"/>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Owners</h6>
                      <p>
                          <a>Hubert Fedorczuk</a>
                      </p>
                      <p>
                          <a>Kacper Pekal</a>
                      </p>
                  </div>
                  <hr class="w-100 clearfix d-md-none"/>
                  <hr class="w-100 clearfix d-md-none"/>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                      <p><i class="fas fa-home mr-3"></i> Jakas ulica, PL</p>
                      <p><i class="fas fa-envelope mr-3"></i> jakismail@gmail.com</p>
                      <p><i class="fas fa-phone mr-3"></i> +jakis numer</p>
                      <p><i class="fas fa-print mr-3"></i> +jakis numer</p>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 justify-content-center flex-wrap">
                      <h6 class="text-uppercase mb-4 font-weight-bold text-center">Follow us</h6>
                      <a class="btn btn-primary btn-floating" style="background-color: #3b5998" href="https://www.youtube.com/watch?v=X2QMN0a_TrA"
                         role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor">
                              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                          </svg>
                      </a>
                      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://www.youtube.com/watch?v=X2QMN0a_TrA"
                         role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                               class="bi bi-twitter" viewBox="0 0 16 16">
                              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                          </svg>
                      </a>
                      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://www.youtube.com/watch?v=X2QMN0a_TrA"
                         role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                               class="bi bi-youtube" viewBox="0 0 16 16">
                              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                          </svg>
                      </a>
                  </div>
              </div>
          </section>
      </div>
  </footer>
</div>
</body>
</html>